#orders{
    border-spacing: 0px;
}

#orders thead, tfoot{
    background-color: #427fef;
    font-size: large;
    color: white;

}

#orders tr > td{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
}

#orders tbody > tr > td{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}


#orders th{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#orders tbody > tr:nth-child(odd){
    background-color: #c4dcf3 ;
}

/* Took about 20 minutes. Most of time was looking for the various css styles that I 
had to apply to make it look similar, the padding especially. I had to ask a neighbor
for how to do the nth-child selecter, and realized that my problem was that I mistakenly
put a space after tr without a colon */